* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #__nuxt, #__layout {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.el-upload.el-upload--text {
    text-align: left;
}
