$primary-color: #409EFF;

$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;

$main-text-color: #303133;
$normal-text-color: #606266;
$sub-text-color: #909399;

$border-color: rgb(230, 230, 230);
